.board {
  animation: loop 2s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

#localization {
  animation: animate 4s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes loop {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(30px);
  }
}

@keyframes animate {
  from {
    transform: translateY(6px) translateX(2px) scale(0.7);
  }
  to {
    transform: translateY(-40px) translateX(12px) scale(0.8);
  }
}

/* .swiper-button-prev,
.swiper-button-next {
  position: absolute;
  height: 50px;
  width: 50px;
  background: red;
  z-index: 10;
  right: 60px;
  left: auto;
  top: 0;
  transform: translateY(50%);
  color: yellow;
  border-radius: 8px;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 2rem;
} */
